/* Réinitialisation des marges et paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Définition du style du body */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Contenu principal */
main {
    background-color: white;
    min-height: 100vh;
    text-align: center;
}

/* Fond principal */
.background-wrapper {
    background-color: #002244;
    background-image: linear-gradient(to bottom right, #003366, #001122);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

/* Conteneur de contenu */
.content-container {
    background: #27344c;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    max-width: 800px;
    width: 100%;
    color: white;
}

/* Titres */
h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

/* Image principale */
.main-image {
    width: 100%;
    max-width: 700px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

/* Texte descriptif */
.text-above {
    font-size: 1.2rem;
    margin-bottom: 15px;
    font-weight: normal;
    line-height: 1.6;
}


/* Responsive Design */
@media (max-width: 768px) {
    /* Ajustement des titres */
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    /* Ajustement de la taille de l'image principale */
    .main-image {
        max-width: 90%; /* Limite la taille de l'image */
        margin-bottom: 15px;
    }

    /* Ajustement des marges et padding */
    .content-container {
        padding: 20px;
        max-width: 100%;
    }

    /* Réduction de la taille du texte descriptif */
    .text-above {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    /* Ajustement des titres pour petits écrans */
    h1 {
        font-size: 1.8rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    /* Ajustement de l'image principale */
    .main-image {
        max-width: 100%;
        margin-bottom: 10px;
    }

    /* Conteneur de contenu avec padding réduit */
    .content-container {
        padding: 15px;
    }

    /* Réduction du texte descriptif */
    .text-above {
        font-size: 0.9rem;
    }
}

